<div id="equipments_panel" class="mx-auto">
  <h1 class="text-center ">器材後台</h1>
  <div class="d-flex  my-3">
    <a href='/admin/equipment/create'>
      <button type="button" class="btn btn-primary">New Equipment</button>
    </a>
  </div>
  <div style="max-height:400px; width:100%; overflow: auto;" class="mx-auto border border-3 border-dark">
    <table class=" mb-0" style="background-color: white;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each equipments}}
        <tr>
          <td scope="row"><b>{{this.index}}</b></td>
          <td><b style="font-size:16px;">{{this.name}}</b></td>
          <td>
            <button type="button" class="btn btn-link">
              <a class="btn btn-link link-primary" href="/admin/equipment/{{this.id}}">
                Show
              </a>
            </button>
            <button type="button" class="btn btn-link">
              <a class="btn btn-link link-primary" href="/admin/equipment/{{this.id}}/edit">
                Edit
              </a>
            </button>
            <form action="/admin/equipment/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-link link-danger" onclick="return confirm('確定要刪除此器材')">Delete</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>