<div class="row px-4">
  <div class="col-md-12">
    <h1>{{equipment.name}}</h1>
  </div>
  <div class="col-md-4">
    <div class="well">
      <img class="img-responsive center-block" src="{{equipment.image}}" style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <br>
      <ul class="list-unstyled">
        <li><strong>category:</strong>  {{equipment.category}}</li>
        <li><strong>quantity:</strong>  {{equipment.quantity}}</li>
        <li><strong>price:</strong>  {{equipment.price}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p style="white-space: break-spaces;">{{equipment.description}}</p>
  </div>
  <hr>
</div>
<a class="btn btn-secondary ms-2" href="javascript:history.back()">Back</a>