<div id="equipments_panel" class="mx-auto">
  {{> admin_list}}
  {{> search_bar route = 'users'}}
  <div style="max-height:400px; width:100%; overflow: auto;" class="mx-auto border border-3 border-dark">
    <table class=" mb-0" style="background-color: white;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col" style="left:0;z-index:2;">Name</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td scope="row"><b>{{this.index}}</b></td>
          <td style="position:sticky;left:0;z-index:1;background-color:white;"><b style="font-size:16px;">{{this.name}}</b></td>
          <td><b style="font-size:16px;">{{this.email}}</b></td>
          <td>
            <form action="/admin/user/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-link ">
                {{#if this.isAdmin}} set as user {{else}} set as admin {{/if}}
              </button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>