<div class="" style="height:400px; overflow:auto;">
  <div class="form-row mb-3">
    <label class="form-label" for="name">name</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{equipment.name}}"
      required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="category">category</label>
    <input class="form-control" type="text" name="category" id="category" placeholder="Enter category"
      value="{{equipment.category}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="price">price</label>
    <input class="form-control" type="number" min="1" name="price" id="price" placeholder="Enter price"
      value="{{equipment.price}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="quantity">quantity</label>
    <input class="form-control" type="number" min="0" name="quantity" id="quantity" placeholder="Enter quantity"
      value="{{equipment.quantity}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="image">Image</label>
    <input class="form-control" type="file" class="form-control-file" id="image" name="image">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3" >{{equipment.description}}</textarea >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a class="btn btn-secondary" href="javascript:history.back()">Back</a>
</div>