<container>
    <div class="row row-cols-3 mx-auto mt-3" style="width: 800px" id="camera_pannel">
        {{#each cameras}}
        <div class="col mb-3">
            <div class="card border border-dark border-2">
                <img src="{{this.image}}" width="120" height="120" alt="..." class="mx-auto">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">{{this.name}}</h5>
                    <p class="card-text"> $NT {{this.price}} / 1天</p>
                    <a href="/records/show/{{this.name}}" class="btn btn-primary" >
                        租借{{this.name}}
                    </a>   
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</container>
